.env
#direnv files
.envrc
bin/

terraform-provider-azure-devops
terraform.log
crash.log

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# unwanted binary file
**/debug.test
