
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
          <ul class="nav docs-sidenav">
            <li>
              <a href="/docs/providers/index.html">All Providers</a>
            </li>

            <li>
              <a href="#">Azure Providers</a>
              <ul class="nav nav-visible">
                <li>
                  <a href="/docs/providers/azuread/index.html">Azure Active Directory</a>
                </li>
                <li>
                  <a href="/docs/providers/azurerm/index.html">Azure</a>
                </li>
                <li>
                  <a href="/docs/providers/azurestack/index.html">Azure Stack</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/index.html">Azure DevOps</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Data Sources</a>
              <ul class="nav">
                <li>
                    <a href="/docs/providers/azuredevops/d/agent_pool.html">azuredevops_agent_pool</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/agent_pools.html">azuredevops_agent_pools</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/agent_queue.html">azuredevops_agent_queue</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/area.html">azuredevops_area</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/client_config.html">azuredevops_client_config</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/build_definition.html">azuredevops_build_definition</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/git_repository.html">azuredevops_git_repository</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/git_repositories.html">azuredevops_git_repositories</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/group.html">azuredevops_group</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/groups.html">azuredevops_groups</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/iteration.html">azuredevops_iteration</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/project.html">azuredevops_project</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/projects.html">azuredevops_projects</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/users.html">azuredevops_users</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/data_team.html">azuredevops_team</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/data_teams.html">azuredevops_teams</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/serviceendpoint_azurerm.html">azuredevops_serviceendpoint_azurerm</a>
                </li>
                <li>
                    <a href="/docs/providers/azuredevops/d/serviceendpoint_github.html">azuredevops_serviceendpoint_github</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">Resources</a>
              <ul class="nav">
                <li>
                  <a href="/docs/providers/azuredevops/r/agent_pool.html">azuredevops_agent_pool</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/agent_queue.html">azuredevops_agent_queue</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/area_permissions.html">azuredevops_area_permissions</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/project_pipeline_settings.html">azuredevops_project_pipeline_settings</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/branch_policy_auto_reviewers.html">azuredevops_branch_policy_auto_reviewers</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/branch_policy_build_validation.html">azuredevops_branch_policy_build_validation</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/branch_policy_merge_types.html">azuredevops_branch_policy_merge_types</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/branch_policy_min_reviewers.html">azuredevops_branch_policy_min_reviewers</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/branch_policy_status_check.html">azuredevops_branch_policy_status_check</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/branch_policy_work_item_linking.html">azuredevops_branch_policy_work_item_linking</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/branch_policy_comment_resolution.html">azuredevops_branch_policy_comment_resolution</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/build_definition_permissions.html">azuredevops_build_definition_permissions</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/build_definition.html">azuredevops_build_definition</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/build_folder_permissions.html">azuredevops_build_folder_permissions</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/build_folder.html">azuredevops_build_folder</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/git_permissions.html">azuredevops_git_permissions</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/git_repository.html">azuredevops_git_repository</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/git_repository_file.html">azuredevops_git_repository_file</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/git_repository_branch.html">azuredevops_git_repository_branch</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/group.html">azuredevops_group</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/group_membership.html">azuredevops_group_membership</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/iteration_permissions.html">azuredevops_iteration_permissions</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/project.html">azuredevops_project</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/project_features.html">azuredevops_project_features</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/project_permissions.html">azuredevops_project_permissions</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/resource_authorization.html">azuredevops_resource_authorization</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/repository_policy_author_email_pattern.html">azuredevops_repository_policy_author_email_pattern</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/repository_policy_file_path_pattern.html">azuredevops_repository_policy_file_path_pattern</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/repository_policy_case_enforcement.html">azuredevops_repository_policy_case_enforcement</a>
                </li>
                <li>x
                  <a href="/docs/providers/azuredevops/r/repository_policy_reserved_names.html">azuredevops_repository_policy_reserved_names</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/repository_policy_max_path_length.html">azuredevops_repository_policy_max_path_length</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/repository_policy_max_file_size.html">azuredevops_repository_policy_max_file_size</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/repository_policy_check_credentials.html">azuredevops_repository_policy_check_credentials</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_argocd.html">azuredevops_serviceendpoint_argocd</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_artifactory.html">azuredevops_serviceendpoint_artifactory</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_azurerm.html">azuredevops_serviceendpoint_azurerm</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_aws.html">azuredevops_serviceendpoint_aws</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_bitbucket.html">azuredevops_serviceendpoint_bitbucket</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_generic.html">azuredevops_serviceendpoint_generic</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_generic_git.html">azuredevops_serviceendpoint_generic_git</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_dockerregistry.html">azuredevops_serviceendpoint_dockerregistry</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_azuredevops.html">azuredevops_serviceendpoint_azuredevops</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_github.html">azuredevops_serviceendpoint_github</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_github_enterprise.html">azuredevops_serviceendpoint_github_enterprise</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_externaltfs.html">azuredevops_serviceendpoint_externaltfs</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_incomingwebhook.html">azuredevops_serviceendpoint_incomingwebhook</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_kubernetes.html">azuredevops_serviceendpoint_kubernetes</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_runpipeline.html">azuredevops_serviceendpoint_runpipeline</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_servicefabric.html">azuredevops_serviceendpoint_servicefabric</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_sonarqube.html">azuredevops_serviceendpoint_sonarqube</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_sonarcloud.html">azuredevops_serviceendpoint_sonarcloud</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_ssh.html">azuredevops_serviceendpoint_ssh</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_npm.html">azuredevops_serviceendpoint_npm</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_octopusdeploy.html">azuredevops_serviceendpoint_octopusdeploy</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/servicehook_permissions.html">azuredevops_servicehook_permissions</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/tagging_permissions.html">azuredevops_tagging_permissions</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/team.html">azuredevops_team</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/team_members.html">azuredevops_team_members</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/team_administrators.html">azuredevops_team_administrators</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/serviceendpoint_permissions.html">azuredevops_serviceendpoint_permissions</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/user_entitlement.html">azuredevops_user_entitlement</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/variable_group.html">azuredevops_variable_group</a>
                </li>
                <li>
                  <a href="/docs/providers/azuredevops/r/workitemquery_permissions.html">azuredevops_workitemquery_permissions</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
