name: OIDC Auth Test

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24.1'
      - name: "Run AccTest"
        run: |
          set -e
          cd azuredevops/internal/acceptancetests
          go test -v -run="TestAccProviderAuth" .
        env:
          TF_ACC: 1
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          AZDO_ORG_SERVICE_URL: ${{ secrets.AZDO_ORG_SERVICE_URL }}
          ARM_USE_OIDC: true
